inline-block{
    display: inline-block;
    vertical-align: top;
}
.logo{
    Padding: 1%;
    Text-Align: Center;
}
.Navigation{
    Width: 73%;
    Padding: 1%;
}
ul{
    Width: 50%;
    Margin-Left: Auto;
}
.logo{
    Text-Align: Center;
}

.Inline-block {
    Width: 50%;
    Margin-left: Auto;
}

.heroimage{
    Height: 600px;
    Padding: 25px;
}
.Content{
    Width: 500px; 
    Margin: 0 auto;
}
.footer{
    Background-color: #373738;
    Padding: Center;  
}